@import "styles/constants.scss";
@import "styles/utils.scss";
@import "styles/mixins.scss";

.header {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: $color-secondary;
    top: 0;
    right: 0;
}

.navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 2rem;
    row-gap: 1rem;
    column-gap: 1rem;
}

.navItem {
    margin: 0;
    padding: 0;
}

.navItem a {
    color: $color-white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

@include media(tablet) {
}
