@import "styles/constants.scss";

$progress-bar-height: 1rem;

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.float {
    display: inline;
    text-align: right;
}

.years {
    min-width: 3.5rem;
    text-align: left;
}

.title {
    min-width: 8rem;
    text-align: right;
    margin-right: 1rem;
}

.hiddenprogressBar {
    width: 100%;
}

.progressBar {
    height: $progress-bar-height;
    width: 100%;
    margin-right: 1rem;
    position: relative;
    background-color: $color-secondary;
}

.progressBarContent {
    height: $progress-bar-height;
    display: block;
    background-color: $color-terciary;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
