@import '../../styles/constants.scss';

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.listItem {
    margin: 3rem 0;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.leftSide {
    width: 40%;
    color: $color-light-blue;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

.rightSide {
    width: 60%;
    padding-left: 2rem;
}

.eyebrow {
    color: $color-silver;
    letter-spacing: 0.0625rem;
   text-transform: uppercase;
}

.description {
    margin-top: 1rem;
    color: $color-silver;
}