@import "../../styles/typography.scss";
@import "../../styles/constants.scss";

.root {
    margin: 0;
    padding: 0;
}

.heading1 {
    @include heading-h1;
}

.heading2 {
    @include heading-h2;
}

.heading3 {
    @include heading-h3;
}

.heading4 {
    @include heading-h4;
}

.heading5 {
    @include heading-h5;
}

.heading6 {
    @include heading-h6;
}

.hero {
    @include hero;
}

.bodyXl {
    @include body-xl;
    font-weight: 600;
}

.body1 {
    @include body-1;
}

.body2 {
    @include body-2;
}

.body3 {
    @include body-3;
}

.body4 {
    @include body-4;
}

.body5 {
    @include body-5;
}

.body6 {
    @include body-6;
}
