$color-primary: #051932;
$color-secondary: #041326;
$color-terciary: #019dea;
$color-white: #fff;
$color-black: #000;

$colors: (
    primary: $color-primary,
    secondary: $color-secondary,
    terciary: $color-terciary,
    white: $color-white,
    black: $color-black,
);

$breakpoints: (
    "tablet": (
        min-width: 767px,
    ),
    "desktop": (
        min-width: 1100px,
    ),
    "extra-wide": (
        min-width: 2560px,
    ),
);
