@import "./mixins.scss";
@import "./constants.scss";

$font-primary: "Lato", sans-serif;
$font-secondary: $font-primary;

@mixin base-heading() {
    font-family: $font-primary;
    font-weight: 500;
}

@mixin heading-h1() {
    @include base-heading();
    font-size: 2rem;
    line-height: 2.25rem;
    @include media(tablet) {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}

@mixin heading-h2() {
    @include base-heading();
    font-size: 1.75rem;
    line-height: 2rem;
    @include media(tablet) {
        font-size: 2rem;
        line-height: 2.25rem;
    }
}

@mixin heading-h3() {
    @include base-heading();
    font-size: 1.5rem;
    line-height: 1.75rem;
    @include media(tablet) {
        font-size: 1.75rem;
        line-height: 2rem;
    }
}

@mixin heading-h4() {
    @include base-heading();
    font-size: 1.25rem;
    line-height: 1.5rem;
    @include media(tablet) {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}

@mixin heading-h5() {
    @include base-heading();
    font-size: 1rem;
    line-height: 1rem;
}

@mixin heading-h6() {
    @include base-heading();
    font-size: 0.9rem;
    line-height: 1rem;
}

@mixin hero() {
    @include base-heading();
    font-size: 4.5rem;
    line-height: 4.75rem;
    @include media(tablet) {
        font-size: 7rem;
        line-height: 7.25rem;
    }
}

@mixin base-body() {
    font-weight: 300;
    font-family: $font-secondary;
}

@mixin body-1() {
    @include base-body();
    font-size: 1.25rem;
    line-height: 1.75rem;
}

@mixin body-2() {
    @include base-body();
    font-size: 1rem;
    line-height: 1.5rem;
}

@mixin label() {
    @include base-body();
    text-transform: uppercase;
    color: $color-terciary;
    font-size: 1rem;
    line-height: 1.25rem;
    @include media(tablet) {
        font-size: 1.15rem;
        line-height: 1.25rem;
    }
}
