@import "styles/constants.scss";
@import "styles/utils.scss";
@import "styles/mixins.scss";

.content {
    text-align: left;
    @include media(tablet) {
        text-align: center;
    }
}

.title {
    margin-bottom: 2rem;
}

.description {
    @include media(tablet) {
        max-width: 45rem;
        margin: 0 auto;
    }
}

.experienceList {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    @include media(tablet) {
        margin-top: 6rem;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 1.5rem;
        column-gap: 1.5rem;
    }
}
